<h1>Directory of Student Pages</h1>

<ul>

    <li><%= link_to 'heygo67', heygo67_path %></li>

<<<<<<< HEAD
    <li><%= link_to 'Danny080298', danny080298_path %></li>

    <li><%= link_to 'yahianahhas', yahianahhas_path %></li>
  
    <li><%= link_to 'avery0123', avery0123_path %></li>
  
</ul>

=======

    <li><%= link_to 'Danny080298', danny080298_path %></li>
</ul>

 
>>>>>>> 1f4c668cdd3bf2b6a01a9988b7899989dab6e3e5
